.checkbox-group {
  padding: 2.5rem 0 2rem 0;
}

.checkbox-item {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  margin-bottom: 0.125rem;
  position: relative;

  & a {
    color: var(--brand-light);
  }
}

.checkbox-item input[type="checkbox"] {
  appearance: none;
  display: none;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
}

.checkbox-item label {
  cursor: pointer;
  display: flex;
  align-items: center;
  user-select: none;
  padding-bottom: 4px;
}

.checkbox-item label::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  margin-right: 10px;

  background-color: var(--shape-body);
  border: 1px solid var(--shape-hover);
  border-radius: 4px;

  transition: all 0.2s ease;
}

.checkbox-item input[type="checkbox"]:checked + label::before {
  background-image: url("data:image/svg+xml,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.6868 3.64645C13.8821 3.84171 13.8821 4.15829 13.6868 4.35355L6.35351 11.6869C6.15825 11.8821 5.84167 11.8821 5.64641 11.6869L2.31307 8.35355C2.11781 8.15829 2.11781 7.84171 2.31307 7.64645C2.50833 7.45118 2.82492 7.45118 3.02018 7.64645L5.99996 10.6262L12.9797 3.64645C13.175 3.45118 13.4916 3.45118 13.6868 3.64645Z' fill='%2359B2FF'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  border-color: #59b2ff;
}
